.Routing__routes__x2ZKO {
  padding: 0;
}

.Routing__routes__x2ZKO li {
  display: inline-block;
  margin-right: 0.7em;
}

.Routing__routes__x2ZKO a {
  text-decoration: none;
  border-bottom: 1px dashed;
}

.Routing__routes__x2ZKO a,
.Routing__routes__x2ZKO a.Routing__active__krb1h:focus {
  color: #6060cc;
}

.Routing__routes__x2ZKO a.Routing__active__krb1h {
  border-bottom: none;
  cursor: default;
  font-weight: bold;
}

.stats__stats__SGQqR {
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  opacity: 0.9;
  z-index: 10000;
}

body {
  font-family: sans-serif;
  margin: 2em 4em;
  padding: 0;
}

hr {
  margin: 2em auto;
}

.GriffeathMachine__field__E7cXr {
  cursor: pointer;
  margin-top: 0.7em;
}

.GriffeathMachine__fps__3PT8D {
  position: fixed;
  display: inline-block;
  right: 0;
  bottom: 60px;
  background-color: #222;
  border-radius: 5px;
  padding: 5px 10px 6px;
  font-size: 12px;
  color: #fff;
}

.GriffeathMachine__key__LytvS {
  display: inline-block;
  border: 1px solid darkgray;
  border-radius: 3px;
  padding: 0.1em 0.3em;
  background-color: lightgray;
  font-size: 0.8em;
  cursor: pointer;
}

.GriffeathMachine__activeDescription__u49q7 {
  display: inline-block;
  margin-left: 0.5em;
  border-bottom: 1px dotted #6060cc;
  color: #6060cc;
  cursor: pointer;
}

.GriffeathMachine__hidden__SvdP0 {
  visibility: hidden;
}

