.field {
  cursor: pointer;
  margin-top: 0.7em;
}

.fps {
  position: fixed;
  display: inline-block;
  right: 0;
  bottom: 60px;
  background-color: #222;
  border-radius: 5px;
  padding: 5px 10px 6px;
  font-size: 12px;
  color: #fff;
}

.key {
  display: inline-block;
  border: 1px solid darkgray;
  border-radius: 3px;
  padding: 0.1em 0.3em;
  background-color: lightgray;
  font-size: 0.8em;
  cursor: pointer;
}

.activeDescription {
  display: inline-block;
  margin-left: 0.5em;
  border-bottom: 1px dotted #6060cc;
  color: #6060cc;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}
