.routes {
  padding: 0;
}

.routes li {
  display: inline-block;
  margin-right: 0.7em;
}

.routes a {
  text-decoration: none;
  border-bottom: 1px dashed;
}

.routes a,
.routes a.active:focus {
  color: #6060cc;
}

.routes a.active {
  border-bottom: none;
  cursor: default;
  font-weight: bold;
}
